body{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}
.contentMain{
    
    max-width: max-content;
    margin: 10px;
    border: 1px solid blue;
    margin-left: 15px;
}

.content{
    width: 600px;
    margin: 10px;
    border: 1px solid blue;
    margin-left: 15px;
    float: left;

}
.tableContent{
    width: 590px;
}
#logoTask{
    margin: 30px;
}
.content2{
    margin: 10px;
}
h4,table{
    margin-left: 15px;
}
.star-rating{
    user-select: none;
}
.star{
    font-size: 1.5em;
    color: #ff9800;
    background-color: unset;
    border: none;
    height: 31px;
    padding: 2px;
    margin-bottom: 5px;
    
}
.star:hover{
    cursor: pointer;

}

#rigthData{
   width: 273.859px;
}
#logoUser{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.clearfix{
    float: none;
    clear: both;
}
button{
    padding: 10px 20px;
}