body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    background: linear-gradient(to left, #92fe9d, #00c9ff);
}

.contentMain{
   
    max-width: max-content;
    margin: 8% auto;
    border: 1px solid blue;
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 3px 5px #8d8c8c
}


.contentLeft{
    width: 600px;
    max-height: 354.531px;
    margin: 10px;
    border: 1px solid #ccc;
    margin-left: 15px;
    float: left;
    background-color: #f0ecec;

}
.contentRigth{
    width: 724px;
    max-height: 354.531px;
    margin: 10px;
    border: 1px solid #ccc;
    margin-left: 15px;
    float: left;
    background-color: #f0ecec;
}
.tableContent{
    width: 590px;

}

#logoTask{
    margin: 30px;
}
.content2{
    margin: 10px;
    
}
.banner{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
h4,table{
    margin-left: 10px;
}
input{
    padding: 5px;
    width: 170px;
    height: 20px;
}

#btnSearch,#btnAdd{
    width: 100px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #92fe9d;
    
}
#btnSearch,#btnAdd:hover{
    cursor: pointer;
    background-color: #b0f8b7;
}
.star-rating{
    user-select: none;
}
.star{
    font-size: 1.5em;
    color: #ff9800;
    background-color: unset;
    border: none;
    height: 31px;
    padding: 2px;
    margin-bottom: 5px;
    
}
.star:hover{
    cursor: pointer;

}

#rigthData{
   width: 273.859px;
}
#logoUser{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.clearfix{
    float: none;
    clear: both;
}
button{
    padding: 10px 20px;
}

#tablaEncargados {
    width: 80%;
    margin: 10px 20px;
    max-height: 240px;
    text-align: center;
   
}

#tablaEncargados >tbody>tr > td{
    background-color: #c4c0c0;
    text-align: center;
    min-width: 67px;
    
}
#overflowTabla{
    max-width: 720px;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#overflowTabla table tbody{
    position: sticky;
    top: 0px;
}
